

#side-menu {
    width: 280px;
    min-height: 100vh;
}

.side-menu-item:hover {
    background-color: #0d6efd;
    color: white;
}

#main-container {
    display: flex;
}

#spot-container {
    padding: 14px;
    display: flex;
}

.card-custom {
    margin: 20px;
    height: fit-content;
}

.check-mark-pos {
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-size: 24px;
}

#create-btn {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: none;
    font-size: 32px;
    cursor: pointer;
}

#create-btn:hover {
    background-color: #0d6efd;
    color: white;
    transition: 0.5s;
}